html,
* {
  margin: 0;
  padding: 0;
}
/* body {
  background-color: #f2f2f2;
} */
form {
  background-color: white;
  text-align: center;
  margin: 30px 200px;
  padding: 20px;
  border-radius: 2px;
  font-size: 18px;
  border-style: solid;
  border-color: #999;
}

.isi {
  /* display: relative; */
}

#parentDiv {
  display: block;
}

/* .formulir {
  max-width: 500px;
  background-color: rgb(201, 193, 193, 0.7);
  margin: 30px 200px;
  padding: 20px;
  border-radius: 45px;
  font-size: 18px;
}
*/

label {
  display: block;
}
.sibisi {
  width: 80%;
  height: 200px;
  /* background: aqua; */
  margin: auto;
  padding: 10px;
  align-content: center;
  display: block;
}
.one {
  width: 15%;
  height: 200px;
  /* background: red; */
  margin-left: 5%;
  float: left;
}
.two {
  margin-left: 40%;
  height: 200px;
  /* background: black; */
}
select {
  background-color: white;
}

body {
  font-family: "Poppins", serif;
  background-color: #f2f2f2;
}
#header {
  padding: 10px 40px;
  background-color: white;
  width: 100%;
  position: fixed;
  display: inline;
  /* z-index: 10; */
}
#header img {
  display: inline-block;
  float: left;
}
#header #navigation a {
  text-decoration: none;
  color: black;
}
#header #navigation a:hover {
  color: rgba(0, 0, 0, 0.7);
}
#navigation ul li {
  display: inline;
  float: left;
  padding: 8px;
  margin-left: 20px;
}
