* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', serif;
    background-color: #F2F2F2;
}

#header{
    padding: 10px 40px;
    background-color: white;
    width: 100%;
    position: fixed;
    display: inline;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 10;
    top: 0;
}
#header img{
    display: inline-block;
    float: left;
}
#header #navigation a {
    text-decoration: none;
    color: black;
}
#header #navigation a:hover{
    color: rgba(0,0,0,.7);
}
#navigation ul li {
    display: inline;
    float: left;
    padding: 8px;
    margin-left: 20px;
}

#wrapper {
    position: relative;
    margin: 10px 200px;
    top: 80px;
}

p {
    
    font-family: serif;
    line-height: 1.75em;
    font-size: 20px;
    text-align: justify;
}

.col-md-6 {
    /* flex: 0 0 50%; */
    max-width: 100%;
    background: #ffffff;
    padding: 25px;
    margin-top: 20px;
    /* border-top-right-radius: 50px; */
    /* border-top-left-radius: 50px; */
}

.box-2{
    text-align: center;
}

.bg-white {
	background-color: #fff;
}

.text-white {
	color: snow;
}

.text-black {
	color: black;
}

.text-center {
	text-align: center;
}

.footer {
	padding: 30px 50px;
	box-shadow: 0px -5px 5px rgba(136, 136, 136, 0.5);
}

.flex-center {
	display: flex;
	justify-content: center;
}

.mb {
   margin-bottom: 100px; 
}